@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-content">

    <!-- SLIDER START -->
    <!-- SLIDER START -->
    <div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container bg-primary" data-alias="mask-showcase" data-source="gallery" style="padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div id="rev_slider_26_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-73" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                    data-masterspeed="300" data-thumb="/images/anasayfa_banner_1.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-param1="1" data-param2=""
                    data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/images/anasayfa_banner_1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">

                    <!-- LAYER NR. 1 [ for overlay ] -->
                    <div class="tp-caption tp-shape tp-shapewrapper "
                         id="slide-73-layer-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5;background-color:rgba(0, 0, 0, 0.3);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                    </div>

                    <!-- LAYERS 1 border block-->
                    <div class="tp-caption rev-btn  tp-resizeme slider-block"
                         id="slide-73-layer-1"
                         data-x="['left','left','left','center']" data-hoffset="['0','100','60','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[250,250,250,200]"
                         data-paddingright="[250,150,150,150]"
                         data-paddingbottom="[250,250,250,200]"
                         data-paddingleft="[250,150,150,150]"
                         style="z-index: 8;"><div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div></div>

                    <!-- LAYER 2 button -->
                    <div class="tp-caption rev-btn  tp-resizeme"
                         id="slide-73-layer-2"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-responsive_offset="on"
                         data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index:9; line-height:30px;"><!-- <a href="@Url.Action("Kurumsal","Home")" class="site-button">Devamını Oku</a> --></div>

                    <!-- LAYER 5 title-->
                    <div class="tp-caption   tp-resizeme slider-tag-line"
                         id="slide-73-layer-5"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[10,10,10,10]"
                         data-paddingright="[20,20,20,20]"
                         data-paddingbottom="[10,10,10,10]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase;">ZİRVE DOĞALTAŞ</div>

                    <!-- LAYER 6  tag line-->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-73-layer-6"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                         data-fontsize="['60','45','60','40']"
                         data-lineheight="['70','60','70','50']"
                         data-width="['700','650','620','380']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textalign="['left','left','left','center']"
                         data-paddingtop="[20,20,20,20]"
                         data-paddingright="[20,20,20,20]"
                         data-paddingbottom="[30,30,30,30]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: 'Martel', serif;">Doğaltaşı<br>Sanatla Birleştiriyoruz.</div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-74" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                    data-masterspeed="300" data-thumb="/images/anasayfa_banner_2.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-param1="2" data-param2=""
                    data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/images/anasayfa_banner_2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">

                    <!-- LAYERS 1 border block-->
                    <div class="tp-caption rev-btn  tp-resizeme slider-block"
                         id="slide-74-layer-1"
                         data-x="['left','left','left','center']" data-hoffset="['0','100','60','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[250,250,250,200]"
                         data-paddingright="[250,150,150,150]"
                         data-paddingbottom="[250,250,250,200]"
                         data-paddingleft="[250,150,150,150]"
                         style="z-index: 8;"><div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div></div>

                    <!-- LAYER NR. 1 [ for overlay ] -->
                    <div class="tp-caption tp-shape tp-shapewrapper "
                         id="slide-74-layer-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5;background-color:rgba(0, 0, 0, 0.3);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                    </div>

                    <!-- LAYER 2 button -->
                    <div class="tp-caption rev-btn  tp-resizeme"
                         id="slide-74-layer-2"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-responsive_offset="on"
                         data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index:9; line-height:30px;"><!-- <a href="@Url.Action("Kurumsal","Home")" class="site-button">Devamını Oku</a> --></div>



                    <!-- LAYER 5 title-->
                    <div class="tp-caption   tp-resizeme slider-tag-line"
                         id="slide-74-layer-5"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[10,10,10,10]"
                         data-paddingright="[20,20,20,20]"
                         data-paddingbottom="[10,10,10,10]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase ; ">ZİRVE DOĞALTAŞ</div>

                    <!-- LAYER 6  tag line-->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-74-layer-6"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                         data-fontsize="['60','45','60','40']"
                         data-lineheight="['70','60','70','50']"
                         data-width="['700','650','620','380']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textalign="['left','left','left','center']"
                         data-paddingtop="[20,20,20,20]"
                         data-paddingright="[20,20,20,20]"
                         data-paddingbottom="[30,30,30,30]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: 'Martel', serif;">Doğanın Mucizesi İle<br />Keyifli Tasarımlar</div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-75" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                    data-masterspeed="300" data-thumb="/images/anasayfa_banner_3.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-param1="3"
                    data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/images/anasayfa_banner_3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">

                    <!-- LAYER NR. 1 [ for overlay ] -->
                    <div class="tp-caption tp-shape tp-shapewrapper "
                         id="slide-75-layer-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off"
                         data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5;background-color:rgba(0, 0, 0, 0.3);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                    </div>

                    <!-- LAYERS 1 border block-->
                    <div class="tp-caption rev-btn  tp-resizeme slider-block"
                         id="slide-75-layer-1"
                         data-x="['left','left','left','center']" data-hoffset="['0','100','60','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[250,250,250,200]"
                         data-paddingright="[250,150,150,150]"
                         data-paddingbottom="[250,250,250,200]"
                         data-paddingleft="[250,150,150,150]"
                         style="z-index: 8;"><div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div></div>

                    <!-- LAYER 2 button -->
                    <div class="tp-caption rev-btn  tp-resizeme"
                         id="slide-75-layer-2"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-responsive_offset="on"
                         data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index:9; line-height:30px;"><!-- <a href="@Url.Action("Kurumsal","Home")" class="site-button">Devamını Oku</a> --></div>



                    <!-- LAYER 5 title-->
                    <div class="tp-caption   tp-resizeme slider-tag-line"
                         id="slide-75-layer-5"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textalign="['left','left','left','left']"
                         data-paddingtop="[10,10,10,10]"
                         data-paddingright="[20,20,20,20]"
                         data-paddingbottom="[10,10,10,10]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase;">ZİRVE DOĞALTAŞ</div>

                    <!-- LAYER 6  tag line-->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-75-layer-6"
                         data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                         data-fontsize="['60','45','60','40']"
                         data-lineheight="['70','60','70','50']"
                         data-width="['700','650','620','380']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textalign="['left','left','left','center']"
                         data-paddingtop="[20,20,20,20]"
                         data-paddingright="[20,20,20,20]"
                         data-paddingbottom="[30,30,30,30]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: 'Martel', serif;">Doğaltaş<br>Özgürlüğü Sizi Bekliyor.</div>
                </li>

            </ul>
            <div class="tp-bannertimer" style="height: 10px; background: rgba(0, 0, 0, 0.15);"></div>
        </div>
    </div>
    <!-- SLIDER END -->

    <!-- SLIDER END -->



    <!-- WELCOME SECTION START -->
    <div class="section-full p-tb80 bg-white">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="welcome-carousel-outer m-b60">
                            <div class="welcome-bg-block clearfix">
                                <div class="welcome-carousel-1 ">
                                    <div class="owl-carousel home-carousel-1 owl-btn-bottom-left">
                                        <!-- COLUMNS 1 -->
                                        <div class="item">
                                            <div class="ow-img">
                                                <a href="javascript:void(0);"><img src="/images/welcome-slider/1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- COLUMNS 2 -->
                                        <div class="item">
                                            <div class="ow-img">
                                                <a href="javascript:void(0);"><img src="/images/welcome-slider/2.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- COLUMNS 3 -->
                                        <div class="item">
                                            <div class="owl-img">
                                                <a href="javascript:void(0);"><img src="/images/welcome-slider/3.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- COLUMNS 4 -->
                                        <div class="item">
                                            <div class="ow-img">
                                                <a href="javascript:void(0);"><img src="/images/welcome-slider/4.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- COLUMNS 5 -->
                                        <div class="item">
                                            <div class="ow-img">
                                                <a href="javascript:void(0);"><img src="/images/welcome-slider/5.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <!-- TITLE START -->
                        <div class="section-head">
                            <div class="wt-separator-outer separator-left">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">SEKTÖRDE 20. YIL</span>
                                </div>
                            </div>
                            <h2>Kurumsal</h2>
                        </div>
                        <!-- TITLE END -->
                        <p>
                            20 yıllık tecrübesiyle sektörün en güçlü firmalarından olan Zirve Doğaltaş, güven ve kalitenin adresi olarak, birbirinden güzel projelere imza atmış bir şirkettir.
                            <br />
                            <br />
                            Sektörün en eski ve köklü firmalarından olan firmamız. Profesyonel çalışan kadromuzla kaliteyi estetikle buluşturarak mekanlarınıza şıklık katma arzusundadır.
                            <br />
                            <br />
                            Ürün portföyümüzde Çimstone, Granit, Belenco, silenstone, Mermer çeşitleri bulunmaktadır.   
                        </p>
                        <a href="@Url.Action("Kurumsal","Home")" class="site-button m-t15 m-b15">Devamını oku</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- WELCOME  SECTION END -->



    <!-- OUR BLOG START -->
    <div class="section-full small-device bg-white p-t80 p-b30  bg-gray">
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head text-center">
                <div class="wt-separator-outer separator-center">
                    <div class="wt-separator">
                        <span class="text-primary text-uppercase sep-line-one">ZİRVE DOĞALTAŞ</span>
                    </div>
                </div>
                <h2>KOLEKSİYONUMUZ</h2>
            </div>
            <!-- TITLE END -->
            <!-- TITLE START -->
            <!-- GALLERY CONTENT START -->
            @* ORJ => <div class="portfolio-wrap mfp-gallery work-grid row clearfix">*@
            <div class="work-grid row clearfix">
                <!-- COLUMNS 1 -->
                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="/images/anasayfa_urun_gruplari_granit.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>GRANİT ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Granit","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="/images/anasayfa_urun_gruplari_mermer.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>MERMER ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Mermer","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="/images/anasayfa_urun_gruplari_onyx.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>ONYX ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Onyx","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="/images/anasayfa_urun_gruplari_cimstone.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>ÇİMSTONE ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Cimstone","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="~/images/anasayfa_urun_gruplari_belenco.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>BELENCO ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Belenco","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="~/images/anasayfa_urun_gruplari_dekton.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>DEKTON ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Dekton","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="~/images/anasayfa_urun_gruplari_infinity.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>INFINITY ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Infinity","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="~/images/anasayfa_urun_gruplari_silestone.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>SILESTONE ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Silestone","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="~/images/anasayfa_urun_gruplari_neolith.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>NEOLITH ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="@Url.Action("Neolith","Home")"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 m-b30">
                    <div class="wt-box">
                        <div class="work-hover-grid">
                            <img src="~/images/anasayfa_urun_gruplari_bazalt.jpg" alt="" />
                            <div class="work-hover-discription">
                                <h4>BAZALT ÇEŞİTLERİ</h4>
                                <h5>İncele</h5>
                            </div>
                            <a href="javascript:void(0);"></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- GALLERY CONTENT END -->
        </div>

    </div>
    <!-- OUR BLOG END -->


 

    <!-- OUR WORK CONTENT START -->
    <div class="section-full small-device  p-t80 p-b50 bg-white">
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head text-center">
                <div class="wt-separator-outer separator-center">
                    <div class="wt-separator">
                        <span class="text-primary text-uppercase sep-line-one ">BİZİ TAKİP EDİN </span>
                    </div>
                </div>
                <h2><a href="https://www.instagram.com/zirvedogaltas/" target="_blank"><i class="fa fa-instagram"></i> zirvedogaltas</a></h2>
            </div>
            <!-- TITLE END -->
            <!-- PAGINATION START -->
            <!-- PAGINATION END -->
        </div>
        <!-- GALLERY CONTENT START -->

        <div class="portfolio-wrap mfp-gallery work-grid clearfix">

            <!-- Start Instagram Feed -->

            <div class="col-md-12" id="instagram-feed"></div>

            <!-- End Instagram Feed -->


            <!-- COLUMNS 1 -->
            @*<div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
                <div class="wt-box   work-hover-content">
                    <div class="wt-thum-bx img-center-icon">
                        <a href="javascript:;"><img src="~/images/anasayfa_instagram.jpg" alt=""></a>
                    </div>
                    <div class="wt-info  p-t20">
                        <h4 class="wt-tilte m-b10 m-t0"><a href="#">Başlık Test</a></h4>
                        <p class="m-b0">test</p>
                    </div>
                </div>
            </div>


            <div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
                <div class="wt-box   work-hover-content">
                    <div class="wt-thum-bx img-center-icon">
                        <a href="javascript:;"><img src="~/images/anasayfa_instagram.jpg" alt=""></a>
                    </div>
                    <div class="wt-info  p-t20">
                        <h4 class="wt-tilte m-b10 m-t0"><a href="#">Başlık Test</a></h4>
                        <p class="m-b0">test</p>
                    </div>
                </div>
            </div>


            <div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
                <div class="wt-box   work-hover-content">
                    <div class="wt-thum-bx img-center-icon">
                        <a href="javascript:;"><img src="~/images/anasayfa_instagram.jpg" alt=""></a>
                    </div>
                    <div class="wt-info  p-t20">
                        <h4 class="wt-tilte m-b10 m-t0"><a href="#">Başlık Test</a></h4>
                        <p class="m-b0">test</p>
                    </div>
                </div>
            </div>


            <div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
                <div class="wt-box   work-hover-content">
                    <div class="wt-thum-bx img-center-icon">
                        <a href="javascript:;"><img src="~/images/anasayfa_instagram.jpg" alt=""></a>
                    </div>
                    <div class="wt-info  p-t20">
                        <h4 class="wt-tilte m-b10 m-t0"><a href="#">Başlık Test</a></h4>
                        <p class="m-b0">test</p>
                    </div>
                </div>
            </div>*@


       

        </div>
        <!-- GALLERY CONTENT END -->

    </div>
    <!-- OUR WORK CONTENT END  -->


</div>


@section HomeIndexUp{


}


@section HomeIndexDown{

    
    <!-- CUSTOM -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menuHome").addClass('active');
        });
    </script>
    <!-- CUSTOM SON -->

    <script src="~/instaFeed/instafeed.min.js"></script>

    <script type="text/javascript">

    function instaFeed() {
        var galleryFeed = new Instafeed({
            get: "user",
            userId: 4145652935,
            accessToken: "4145652935.cbe7a74.b98c4d79f2914cc888845e9fe734c39c",
            resolution: "standard_resolution",
            useHttp: "true",
            limit: 8, // Control Instagram feed number. Max limit is 60.
            template: '<div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">' +
                '<div class="wt-box   work-hover-content">' +
                '<div class="wt-thum-bx img-center-icon">' +
                '<a href="{{link}}" target="_blank"><img src="{{image}}" class="w-100 {{orientation}}"></a>'+
                '</div>'+
                '<div class="wt-info  p-t20">'+
                '<h4 class="wt-tilte m-b10 m-t0"><a href="#">{{caption}}</a></h4>'+
                '<p class="m-b0">{{caption}}</p>'+
                '</div>'+
                '</div>'+
                '</div>',

            target: "instagram-feed",
            after: function () {
                var owl = $(".owl-carousel"),
                    owlSlideSpeed = 300;
                $(document).ready(function () {
                    owl.owlCarousel({
                        navText: [
                    '<i class="fa fa-angle-left"></i>',
                    '<i class="fa fa-angle-right"></i>'
                        ],
                        dots: false,
                        margin: 0,
                        loop: true,
                        margin: 10,
                        nav: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            481: {
                                items: 2
                            },
                            721: {
                                items: 3
                            },
                            992: {
                                items: 4
                            },
                            1200: {
                                items: 5
                            },
                        }
                    });
                });
            }
        });

        galleryFeed.run();
    }


    // Dom Ready Function
    jQuery(document).on('ready', function () {
        (function ($) {
            instaFeed();
        })(jQuery);
    });

    </script>




}



