<footer class="site-footer footer-large  footer-light	footer-wide">

    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="text-center">
                <div class="footer-link">
                    <ul>

                        <li><a href="@Url.Action("Index","Home")" data-hover="Anasayfa">Anasayfa</a></li>
                        <li><a href="@Url.Action("Kurumsal","Home")" data-hover="Kurumsal">KURUMSAL</a></li>
                        @*<li><a href="@Url.Action("Uygulamalar","Home")" data-hover="Uygulamalar">UYGULAMALAR</a></li>*@
                        <li><a href="@Url.Action("Referanslar", "Home")" data-hover="Referanslar">REFERANSLAR</a></li>
                        <li><a href="/granit-mermer-yakma" data-hover="GranitMermerYakma">GRANİT MERMER YAKMA</a></li>
                        <li><a href="/patinato" data-hover="Patinato">PATİNATO</a></li>
                        <li><a href="@Url.Action("Granit","Home")" data-hover="Granit">GRANİT</a></li>
                        <li><a href="@Url.Action("Mermer", "Home") "data-hover="Mermer">MERMER</a></li>
                        <li><a href="@Url.Action("Onyx","Home")" data-hover="Onyx">ONYX</a></li>
                        <li><a href="@Url.Action("Cimstone", "Home")" data-hover="cimstone">ÇİMSTONE</a></li>
                        <li><a href="@Url.Action("Belenco", "Home")" data-hover="belenco">BELENCO</a></li>
                        <li><a href="@Url.Action("Dekton","Home")" data-hover="Dekton">DEKTON</a></li>
                        <li><a href="@Url.Action("Infinity","Home")" data-hover="Dekton">INFINITY</a></li>
                        <li><a href="@Url.Action("Silestone","Home")" data-hover="Silestone">SILESTONE</a></li>
                        <li><a href="@Url.Action("Neolith", "Home")" data-hover="Neolith">NEOLITH</a></li>
                        <li><a href="@Url.Action("BizeUlasin", "Home")" data-hover="BizeUlasin">BİZE ULAŞIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="widget text-center getin-touch">
                        <h4 class="widget-title">E-POSTA</h4>
                        <div class="widget-section">
                            <ul>
                                <li>info@zirve-dogaltas.com</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- TAGS -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="widget text-center widget_address m-b20">
                        <h4 class="widget-title">ADRES</h4>
                        <div class="widget-section">
                            <ul>
                                <li>Şekerpınar Mah. Fevzi Çakmak Cad. <br>Kamer Sok. No:7 <br>Çayırova/Kocaeli</li>
                            </ul>
                        </div>
                        <div class="footer-social-icon">
                            <ul class="social-icons f-social-link">
                                @*<li><a href="javascript:void(0);" class="fa fa-google"></a></li>*@
                                <li><a href="https://www.instagram.com/zirvedogaltas/" target="_blank" class="fa fa-instagram"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                @*<li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- USEFUL LINKS -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="widget text-center">
                        <h4 class="widget-title">TELEFON</h4>
                        <div class="widget-section">
                            <ul>
                                <li>0262 658 94 46</li>
                                <li>0850 532 94 46</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- NEWSLETTER -->

            </div>

        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="wt-footer-bot-center">
                    <span class="copyrights-text">© 2019 Tüm Hakları Saklıdır <br /><br /> <a href="http://www.penahyazilim.com" target="_blank">WEB TASARIM</a> : <a href="http://www.penahyazilim.com" target="_blank">PENAH YAZILIM</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>